
@{
    Layout = null;
}

<!--===============================================================================================-->
<link rel="icon" type="image/png" href="~/Login_v4/images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Login_v4/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Login_v4/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Login_v4/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Login_v4/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Login_v4/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Login_v4/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Login_v4/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Login_v4/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Login_v4/css/util.css">
<link rel="stylesheet" type="text/css" href="~/Login_v4/css/main.css">
<!--===============================================================================================-->



<link href="~/famm/css/bootstrap.css" rel="stylesheet" />
<link href="~/famm/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/famm/css/responsive.css" rel="stylesheet" />
<link href="~/famm/css/style.css" rel="stylesheet" />

<!-- jQery -->
<script src="~/famm/js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="~/famm/js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="~/famm/js/bootstrap.js"></script>
<!-- custom js -->
<script src="~/famm/js/custom.js"></script>


<title>Giriş/Qeydiyyat</title>


<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/MainPage/Index">Ana səhifə <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
@RenderBody()

 <!--===============================================================================================-->
    <script src="~/Login_v4/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v4/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v4/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login_v4/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v4/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v4/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Login_v4/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v4/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v4/js/main.js"></script>

