
<div class="col-md-5">
    <div class="widget_menu">
        <h3>Yeniliklər</h3>
        <div class="information_f">
            <p>Yeniliklərdən xəbərdar olmaq üçün abonə olun.</p>
        </div>
        <div class="form_sub">
            <form action="/NewsMail/SubscribeMail" method="post">
                <fieldset>
                    <div class="field">
                        <input type="email" placeholder="Mailinizi daxil edin.." name="Mail" required=""/>
                        <input type="submit" value="Abonə ol" />
                    </div>
                </fieldset>

            </form>
        </div>
    </div>
</div>