@using EntityLayer.Concrete
@model List<Category> 

@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<table class="table table-bordered">
    <tr>
        <th>Kateqoriya ID</th>
        <th>Kateqoriya Ad</th>
        <th>Kateqoriya Status</th>
        <th>Kateqoriya Detaylar</th>
        <th>Kateqoriya Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryStatus</td>
            <td><a href="#" class="btn btn-warning">Detaylar</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
